<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.msk.onlinebotique">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The following two permissions are not required to use Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--Google MAP API key-->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value=" AIzaSyBxB_75_vt6CC0mBmVDJ7lswNsEW2S-jiw " />

        <activity android:name=".Activities.HomeActivity"
            android:theme="@style/MaterialDrawerTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity"></activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Activities.RegisterationActivity" />
        <activity android:name=".Activities.SetupActivity"></activity>
        <activity android:name=".Activities.VerifyAcountActivity"></activity>
        <activity android:name=".Activities.SellerIntroActivity"
            android:theme="@style/Theme.Intro"></activity>
        <activity android:name=".Activities.BuyerIntroActivity"
            android:theme="@style/Theme.Intro"/>
        <activity android:name=".Activities.ShopSettingActivity"></activity>

    </application>

</manifest>